#!/usr/bin/make -f
STAMPDIR=tgz2build/stamps

CONFIGURE = ./config shared --prefix=$(ZBS_PREFIX) no-idea no-mdc2 no-rc5 --openssldir=$(ZBS_PREFIX)/usr

ifneq (,$(findstring linux-,$(ZBS_DIST)))
  	ifneq (,$(findstring amd64,$(ZBS_ARCH)))
		CONFIGURE = ./Configure linux-generic64 shared --prefix=$(ZBS_PREFIX) no-idea no-mdc2 no-rc5 --openssldir=$(ZBS_PREFIX)/usr
  	else
		CONFIGURE = ./Configure linux-generic32 shared --prefix=$(ZBS_PREFIX) no-idea no-mdc2 no-rc5 --openssldir=$(ZBS_PREFIX)/usr
  	endif
endif
ifneq (,$(findstring hpux,$(ZBS_DIST)))
		CONFIGURE = ./Configure hpux-gcc shared --prefix=$(ZBS_PREFIX) no-idea no-mdc2 no-rc5 --openssldir=$(ZBS_PREFIX)/usr
endif



all: binary

binary: $(STAMPDIR)/stamp-setup $(STAMPDIR)/stamp-configure $(STAMPDIR)/stamp-build $(STAMPDIR)/stamp-install

setup: $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: $(STAMPDIR)/stamp-setup
	# Force to use AIX's native ar. GNU ar don't support -X (32|64)
	# argument, only -X(32|64)
	if echo $(ZBS_DIST) | grep '^aix' >/dev/null 2>&1;then \
		sed -e 's%^\(AR=\)ar%\1\/usr\/bin\/ar%' Makefile.org > Makefile.org.aix; \
		mv Makefile.org.aix Makefile.org; \
	fi
	$(CONFIGURE)
	touch $@

build: $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: $(STAMPDIR)/stamp-configure
	if test `uname -s` = "HP-UX"; then $(MAKE) depend && $(MAKE); \
	else $(MAKE); fi

	touch $@


install:  $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: $(STAMPDIR)/stamp-build
	rm -rf $(ZBS_STAGE_DIR)
	$(MAKE) install INSTALL_PREFIX=$(ZBS_STAGE_DIR)
	# On aix, pack the .so -s into the .a files.
	if echo $(ZBS_DIST) | grep '^aix' >/dev/null 2>&1;then \
		rm -f libcrypto.a libssl.a libcrypto.so libssl.so; \
		cp libcrypto.so.0.9.8 libcrypto.so; \
		cp libssl.so.0.9.8 libssl.so; \
		/usr/bin/ar -q libcrypto.a libcrypto.so.0.9.8 libcrypto.so; \
		/usr/bin/ar -q libssl.a libssl.so.0.9.8 libssl.so; \
		chmod 0644 libcrypto.a libssl.a; \
		cp libcrypto.a libssl.a $(ZBS_STAGE_DIR)/$(ZBS_PREFIX)/lib; \
	fi
	touch $@ 

clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	make clean


